html#html-dual {
    #container {
        margin-top: 0rem;
    }
    h1{
        color: rgba(0,0,0,0.73);
        text-transform: uppercase;
        text-align: center;
        font-size: 2em;
    }

    #dual-cover {
        width: 100%;
        height: 55vh;
        background-position: 50% 40%;
        background-image: url('../../img//resized//handshake.jpg');
        background-size: cover;
        padding: 1em 0;
        display: flex;
        align-items: center;

        #descripcion-cover {
            width: 45%;
            margin-top: 2em;
            margin-right: auto;
            margin-left: 3em;

          position: relative;
          padding: .7em;
          //background: #1d9effde;
          background-image: linear-gradient(180deg, #0eb1ff 0%, #64cdff47 100%);
          border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
          color: #313131;
          box-shadow: 20px 20px rgba(0,0,0,.15);
          transition: all .4s ease;
            p{
                text-align: justify;
                line-height: 150%;
            }
            &:hover {
              border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
              box-shadow: 10px 10px rgba(0,0,0,.25);
            }
        }

    }

    .page-section {
        width: 70%;
        display: flex;
        color:#272727;
        //flex-direction: row-reverse;

        margin: 1em auto;
        .section-subtitle {
            padding: .5em;
            width: 20%;
            color: #003d8a;
        }
        #article-container {
            width: 80%;
            .article {
                width: 85%;
                text-align: justify;
                margin: 2em auto; 
                &:not(:first-of-type) {
                    margin: 2em auto; 
                }
            }
        }
        .mas-enlaces{
            width: 30%;
            text-align: justify;
        }
    }   
    #confian-en-nosotros {
        background-image: linear-gradient(180deg, #0eb1ff 0%, #64cdff 100%);
        padding: 1em;
        h3 {
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 3px;
            color: #2a3a3a;
        }
        #empresas {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            //display: grid;
            //grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            //grid-gap: 20px;
            //grid-column-gap: 20px;
            //grid-row-gap: 20px;
            margin: 1em;
            .empresa {
                cursor: pointer;
                background-color: white;
                height: 100px;
                width: 100px;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    height: 70%;
                    width: 70%;
                }
            }
        }
    }

    .footer-hr {
        border: 1px solid #0eb1ff;
    }

    .credits, .freepik {
        a {
            color: #0eb1ff !important;
        }
    }
}
