@font-face {
    font-family: "Montserrat";
    src: url("../../fonts/Montserrat/Montserrat-Regular.ttf");
}
body {
    font-family: 'Montserrat', Helvetica, sans-serif;
    background-image:url("../../img/wooden-back.jpg");
    background-size: contain;
	font-size: 16px;
	margin: 0;
	padding: 0;
	//font-family: Helvetica, sans-serif;
}
html {
	margin: 0;
	padding: 0;
}

    #container-familias {
        background-color: rgba(0,0,0, 0.25);
        margin-top: 15vh;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        
        .familia {
            //height: 100px;
            h3 {
                //font-size: 1em;
                overflow: visible;
                font-size: 1em;
            }
            text-align: left;
            img {
                width: 100%;
                display: block;
                margin: 0 auto;
                max-width: 300px;
            }
        }
    }

    #container-ciclos {
        ul.ciclos-list {
            margin: 0;
            padding: 0;
        }
        .ciclo {
            &.multiple {
                cursor: pointer;
            }
            margin: 0 auto;
            padding: 1em;
            width: 80%;
            &:not(:last-of-type){
                border-bottom: 1px solid white;
            }
            &:hover {
                background-color: rgba(255, 234, 196, 0.27);
            }
            .ciclo-content {
                display: none;
                padding: .5em 1em;
                padding-left: 2em;
            }
            li.ciclo-title {
                padding-left: 2em;
                background: url("../../img/svg/ciclos-icon.png") no-repeat left top;
                list-style-type: none;
                background-size: 20px 20px;

                line-height: 1.7em;
                letter-spacing: 2px;
                text-transform: uppercase;
                margin: 0 auto;
                .fa-graduation-cap {
                    margin-right: 1em;
                }
                .horas-ciclo {
                    color: orange;
                    margin-left: 1em;
                }
                .dd-icon {
                    font-weight: bold;
                    display: block;
                    width: fit-content;
                    float:right;
                    margin-left: auto;
                    transform: rotate(-90deg);
                    transition: all, .3s;
                    &.opened {
                        transform : rotate(0);
                    }
                }
            }
            .obs-title, .des-title {
                font-weight: bold;
            }
            .obs-list {
                list-style-type: square;
                li {
                    margin: .7em 0;
                }
            }
        }
    }
    #container {
        margin-top: 6rem;
        #controles-ciclos {
            #select-familia {
                border:none;
                background-color: rgba(0, 0, 0, 0.5);
                background-image: url("../../img/svg/method-draw-image.svg");
                background-size: 100px 70px;
                background-repeat: no-repeat;
                background-position: 95% 50% ;
                //background-color: transparent;
                width: 80%;
                margin: 0 auto;
                -webkit-appearance:none;
                -moz-appearance:none;
                appearance:none;
                font-size: 2rem;
                padding: 1em;
                display: flex;
                flex-direction: column;
                justify-items: center;
                color: white;
                transition: border, .4s;
                    border: 1px solid rgba(0, 0, 0, 0.5);
                &:hover {
                    border: 1px solid white;
                }
            }

        }

            #clean-familia {
                background-color: rgba(255, 0, 0, 0.5);
                border: none;
                padding: 1em;
                font-size: 1.2em;
                //background-color: transparent;
                display: block;
                width: 80%;
                color: white;
                margin: 0 auto;
                transition: background-color, .4s;
                &:hover {
                    background-color: rgba(243, 129, 0, 0.8);
                }
            }
        #lista-ciclos {
            padding: 1em 2em;
            display: flex;
            flex-direction: column;
            justify-items: center;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            width: 80%;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            margin: 0em auto;

            .obs-familia {
                font-size: 1.2em;
                text-align: center;
                font-style: italic;
                padding: .5em;
            }
                .familia-logo {
                    margin: 0 auto;
                    width: 100px;
                    //display:inline-block;
                    text-align: right;

                    .thumb-familia {
                        width: 100px;
                        height: 100px;
                    }
                }
            h2{
                text-align: center;
            }

            #ciclos_medios, #ciclos_superiores {
                padding: .5em;
            }
            .title-superiores, .title-medios {
                width: 90%;
                margin: 0 auto;
                margin-bottom: 1em;
            }
        }

        #faq-container {
            #title-faq {
                text-align: center;
                font-weight: 300;
                font-size: 2em;
                letter-spacing: 2px;
                text-transform: uppercase;
            }
            margin-top: 1.5em !important;
            background-color: rgba(10, 7, 33, 0.88);
            color: white;
            padding: 1em 0 2em 0;
           #faq {
               .slick-active:focus {
                   outline: 0;
               border: none !important;
               }
               .slick-active:active {
                   outline: 0;
               border: none !important;
               }
               .slick:active {
                   outline: 0;
               border: none !important;
               }
               div:focus{
                   outline: 0;
               border: none !important;
               }
               &:active {
               cursor: -webkit-grabbing; 
               cursor: grabbing;
           }
                margin-top: 1.5em !important;
                margin-bottom: 1.5em !important;
                width: 70vw;
                margin: auto;
                & > div {
                    background-color: rgba(255,255,255, 0.88);
                    color: rgba(10, 7, 33, 0.88);
                    margin: 0 1em;
                    text-align: center;
                    & > *:not(.faq-type-title) {
                        //padding:0 1em;
                    }
                    .pregunta, .respuesta {
                        font-style: italic;
                        padding: .5em 2em;

                    }
                    .title-pregunta, .title-respuesta {
                        font-weight: bold;
                    }
                    & .faq-type-title {
                        text-transform: capitalize;
                        border-bottom: 1px solid rgba(10, 7, 33, 0.88);
                        text-align: center;
                        padding: .5em;
                    }
                }

            }
        }
        
    }



.header {
	top: 0;
	position: absolute;
	z-index: 10000;
	width: 100%;
	display: flex;
	height: 5rem;
	font-size: 1rem;
	color: #FFF;
	background-color: rgba(0,0,0,.6);
}
#header-title {
	display: inline-block;
	font-style: italic;
	margin-left: 2%;
	margin-right: 3%;
	padding: 0 .7em;
	border-right: 1px solid white;
}
.mobile-menu {
	position: absolute;
	top: 1em;
	width: 100%;
	width: 100%;
	line-height: 1.6em;
	font-weight: 400;
	width: 100%;
	margin: .3em auto;
	padding: 0;
	ul {
		list-style-type: none;
		padding-left: 0;
		margin: 0;
		width: 100%;
		display: flex;
	}
	li {
		&:last-child {
			margin-left: auto;
		}
		margin: 0 2%;
		a {
			letter-spacing: 0.15em;
			display: inline-block;
			vertical-align: middle;
			line-height: normal;
			text-align: center;
			font-family: Helvetica, Arial, sans-serif;
			color: #fff;
			text-transform: uppercase;
			text-decoration: none;
			-webkit-transition: all 0.4s ease 0s;
			-moz-transition: all 0.4s ease 0s;
			-ms-transition: all 0.4s ease 0s;
			-o-transition: all 0.4s ease 0s;
			transition: all 0.4s ease 0s;
		}
		&:not(#header-title) {
			a {
				padding: 0 2%;
			}
			&:after {
				background: none repeat scroll 0 0 transparent;
                top: 4px;
				bottom: 0;
				content: "";
				display: block;
				height: 1px;
				left: 50%;
				position: relative;
				background: #fff;
				transition: width 0.3s ease 0s, left 0.3s ease 0s;
				width: 0;
			}
		}
		&:hover {
			&:not(#header-title) {
                &:after {
                    left: 0;
                    width: 100%;
                }
			}
		}
		ul {
			display: none;
			li {
				a {
					width: auto;
					min-width: 100px;
					padding: 0 20px;
				}
			}
		}
	}
	.show-menu {
		text-decoration: none;
		color: #fff;
		text-align: center;
		padding: 18px;
		display: none;
		cursor: pointer;
		text-transform: uppercase;
		span {
			padding-left: 35px;
		}
	}
	input[type=checkbox] {
		display: none;
		&:checked {
			~ {
				#menu {
					display: block;
				}
			}
		}
	}
}
.first-letter {
	border-bottom: 1px solid white;
	display: inline;
	margin: .5em 0;
}
.header-cover {
	width: 30rem;
	height: 20rem;
}
.cover {
	height: 110vh;
	background-image: url("../../img/cover-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 3em;
	display: flex;
	justify-items: center;
	align-items: center;
}
#cover-content {
	color: #FFF;
	position: absolute;
	z-index: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -40%);
	width: 70%;
	background-color: rgba(0,0,0,0.6);
	padding: 1em;
	h3 {
		text-align: center;
		font-size: 2em;
		width: fit-content;
		margin: 1em auto;
		padding-bottom: 1em;
		border-bottom: 2px solid orange;
	}
	p {
		padding: 1em;
	}
}
#down-arrows {
    cursor: pointer;
	display: flex;
	height: 2.5rem;
	width: 25%;
	margin: auto;
	background-color: rgba(255,255,255, 0.5);
	color: orange;
    transition: background-color, .2s;
	&:hover {
		background-color: rgba(255,165,0, 0.5);
	}
    *:focus {
        outline: 0;
        border: none;
    }
}
    
.desplazar-abajo {
    cursor: pointer;
	display: block;
	margin: 0 auto;
	color: white;
	height: 35px;
	border: none;
	font-size: 2.5rem;
	background-color: rgba(255,255,255, 0);
}
#desplazar-abajo {
	&:hover {
		background-color: rgba(255,255,255, 0);
	}
}



#main-options {
	padding: 1em;
}

.grid-wrapper {
	img {
		width: 100%;
	}
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 20px;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
.footer {
	background-color: #2d2d2d;
	color: white;
	text-align: center;
	margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
	a {
		color: orange;
	}
    .footer-hr {
        border: 1px solid orange;
    }
    .footer-menu {
        margin-top:1em;
        margin-bottom:2em;
        ul {
            display: flex;
            padding: 0;
            width: 60%;
            margin: 0 auto;
            justify-content: space-around;
        }
        a {
            font-size: 1.2em;
            color: white;
            text-decoration: none;

            &#subir-btn {
                cursor: pointer;
            }
        }
        li {
            display: inline-block;
            list-style-type: none;

			&:after {
				background: none repeat scroll 0 0 transparent;
                top: 4px;
				bottom: 0;
				content: "";
				display: block;
				height: 1px;
				left: 50%;
				position: relative;
				background: #fff;
				transition: width 0.3s ease 0s, left 0.3s ease 0s;
				width: 0;

			}

            &:hover {
                &:after {
                    left: 0;
                    width: 100%;
                }
            }
        }


    }
} 
.grid-wrapper { 	
	a {
    	& > *:not(h3) {
        	margin: 3em;
        	margin-bottom: 0;
    }
    text-decoration: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	color: white;
    //padding: 3em;
    //height:60%;
	margin: 20px;
	background-color: rgba(10,7,33,0.88);
    }
}
.box {
    cursor: pointer;
    padding-bottom: 7%;
	h3 {
		padding: 1em;
        padding-top: 0;
        float: center;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 0.15em;
		line-height: 1.5em;
	}
    img {
        padding-bottom: 3em;
		border-bottom: 1px solid orange;
    }
}
#ciclos-icon {
	font-size: 10rem;
}
.yellow {
	background: #F3AAAA;
	background: -moz-linear-gradient(top, #F3AAAA 0%, #febf04 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3AAAA), color-stop(100%,#febf04));
	background: -webkit-linear-gradient(top, #F3AAAA 0%,#febf04 100%);
	background: -o-linear-gradient(top, #F3AAAA 0%,#febf04 100%);
	background: -ms-linear-gradient(top, #F3AAAA 0%,#febf04 100%);
	background: linear-gradient(top, #F3AAAA 0%,#febf04 100%);
}
.credits {
    padding: 1em;
	margin: 0;
	a {
		font-size: 1rem;
		font-weight: thin;
		letter-spacing: .05em;
		text-decoration: none;
		&:hover {
			transition: all .3s;
			color: rgba(0,0,0,0);
			background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
			-webkit-background-clip: text;
		}
	}
}
.freepik {
	margin-top: 1em;
	padding: .5em;
}
.heart {
	color: red;
}
@media screen and (min-width : 562px) and (max-width : 700px) {
	.header {
		height: 6rem;
	}
	.mobile-menu {
		li {
			&:last-child {
				margin-left: 0;
			}
		}
		ul {
			flex-wrap: wrap;
			display: flex;
			justify-content: space-between;
		}
	}
	#header-title {
		text-align: center;
		border-right: none;
		display: block;
		width: 100%;
		margin-bottom: 1rem;
		padding: 0;
		a {
			padding: 0;
		}
	}
	#cover-content {
		width: 80%;
	}
    footer .footer-menu .menu {
        width: 100%;
    }
}
@media screen and (min-width : 460px) and (max-width : 562px) {
    footer .footer-menu .menu {
        width: 100%;
    }
	.header {
		height: 6rem;
		font-size: .82rem;
	}
	.mobile-menu {
		li {
			&:last-child {
				margin-left: 0;
			}
		}
		ul {
			flex-wrap: wrap;
			display: flex;
			justify-content: space-between;
		}
	}
	#header-title {
		text-align: center;
		border-right: none;
		display: block;
		width: 100%;
		margin-bottom: 1rem;
		padding: 0;
		a {
			padding: 0;
		}
	}
	#cover-content {
		width: 80%;
	}
}
@media screen and (max-width : 460px) {
    footer .footer-menu .menu {
        width: 100%;
    }
	body {
		padding: 0;
		margin: 0;
		min-width: 314px;
	}
	html {
		padding: 0;
		margin: 0;
	}
	.header {
		position: fixed;
		height: 5rem;
	}
	.mobile-menu {
		position: fixed;
		ul {
			background-color: rgba(0,0,0,0.6);
			position: static;
			display: none;
			li {
				width: 100%;
			}
		}
		.lines {
			border-bottom: 15px double #f8f8f8;
			border-top: 5px solid #f8f8f8;
			content: "";
			height: 5px;
			width: 20px;
			float: right;
			padding-right: 15px;
		}
		li {
			margin-bottom: 1px;
			a {
				width: 100%;
			}
			&:not(#header-title) {
				&:after {
					display: none;
				}
			}
		}
		.show-menu {
			display: block;
		}
	}
	#header-title {
		display: none;
	}
	label.show-menu {
		letter-spacing: 0.15em;
		word-spacing: .5em;
	}
	.lines {
		margin-right: 1.5em;
	}
	.show-menu {
		span.first-letter {
			padding-left: 0;
		}
	}
	#cover-content {
		width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -20%);
	}
	.grid-wrapper {
		width: 100%;
	}
} // media 460px end

/***********************************************************************
 *  Green Background
 **********************************************************************/
.green {
	background: #56B870;
	background: -moz-linear-gradient(top, #56B870 0%, #a5c956 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#56B870), color-stop(100%,#a5c956));
	background: -webkit-linear-gradient(top, #56B870 0%,#a5c956 100%);
	background: -o-linear-gradient(top, #56B870 0%,#a5c956 100%);
	background: -ms-linear-gradient(top, #56B870 0%,#a5c956 100%);
	background: linear-gradient(top, #56B870 0%,#a5c956 100%);
}
/***********************************************************************
 *  Red Background
 **********************************************************************/

.red {
	background: #C655BE;
	background: -moz-linear-gradient(top, #C655BE 0%, #cf0404 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C655BE), color-stop(100%,#cf0404));
	background: -webkit-linear-gradient(top, #C655BE 0%,#cf0404 100%);
	background: -o-linear-gradient(top, #C655BE 0%,#cf0404 100%);
	background: -ms-linear-gradient(top, #C655BE 0%,#cf0404 100%);
	background: linear-gradient(top, #C655BE 0%,#cf0404 100%);
}

/***************************************************************/
/***********************************************************************
 *  Blue Background
 **********************************************************************/

.blue {
	background: #7abcff;
	background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee));
	background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%);
	background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%);
	background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%);
	background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%);
}

/***********************************************************************
 *  Orange Background
 **********************************************************************/
.orange {
	background: rgb(255,149,14);
	background: -moz-linear-gradient(180deg, rgba(255,149,14,1) 0%, rgba(255,162,100,1) 100%);
	background: -webkit-linear-gradient(180deg, rgba(255,149,14,1) 0%, rgba(255,162,100,1) 100%);
	background: linear-gradient(180deg, rgba(255,149,14,1) 0%, rgba(255,162,100,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff950e",endColorstr="#ffa264",GradientType=1);
}
