@media (max-width: 1100px) {
    html#html-contacto {
        input,textarea {
            font-size:1.3em !important;
        }
    }
}
@media (max-width: 666px) {
    .box {
        margin: 10px 12% !important;
    }
}
@media (max-width: 660px) {
    #controles-ciclos #select-familia{
        font-size: 20px !important;
        background-size: 55px 40px;
    }
    .obs-familia {
        font-size: 14px !important;
    }
    #container-with-controles, .ciclo {
        width: 100% !important;
        padding-left: 0em !important;
        .obs-list {
            margin-left: 0;
            padding: 0;
        }
    }
    #lista-ciclos{
        padding-right: 0;
        padding-left: 0;
        .ciclo-title {
            background-position: 0% 50% !important;
            font-size: 13px;
            .dd-icon {
                margin-right: 1.5em;
            }
        }
    }

}
@media (max-width: 528px) {
    .mid-width {
        width: 100% !important;
        clear: both;
        margin-bottom: 1.5em 0 !important;
        ul  {
            width: 100%;
            li {
                width: 40%;
                margin: .5em 1em !important;
                float: left;
            }
        }
    }
}

@media screen and (max-width : 850px) { 
    #practicas-cover #descripcion-cover {
        font-size: 80%;
    }
}
@media screen and (max-width : 850px) { 
    footer .footer-menu .menu  {
        width: 100% !important;
    }
    html#html-contacto {
        input,textarea {
            font-size:1.2em !important;
        }
        #page-body {
            width: 100% !important;
        }
    }
}
@media screen and (min-width : 850px) { 
    footer .footer-menu .menu  {
        width: 70% !important;
    }
}

@media (max-width: 550px) {
    html#html-contacto {
        #page-body {
            h1 {
                font-size:1.5em;
            }
        }
        #contact-form {
            width: 90% !important;
        }
    }

    #practicas-cover #descripcion-cover {
        padding-top: 2em;
        font-size: 70%;
    }
    .page-section {
        flex-direction: column;
        justify-content: center;
        width: 100% !important;
        #article-container {
            width: 100% !important;
        }
        h3 {
            width: 100% !important;
            text-align: center;
            margin:0 !important;
        }
    }

}

@media screen and (min-width : 562px) and (max-width : 700px) {
	.header {
		height: 6rem;
	}
	.mobile-menu {
		li {
			&:last-child {
				margin-left: 0;
			}
		}
		ul {
			flex-wrap: wrap;
			display: flex;
			justify-content: space-between;
		}
	}
	#header-title {
		text-align: center;
		border-right: none;
		display: block;
		width: 100%;
		margin-bottom: 1rem;
		padding: 0;
		a {
			padding: 0;
		}
	}
	#cover-content {
		width: 80%;
	}
    footer .footer-menu .menu  {
        width: 100% !important;
    }
}
@media screen and (min-width : 460px) and (max-width : 562px) {
    footer .footer-menu .menu {
        width: 100%;
        font-size: 1rem;
    }
	.header {
		height: 6rem;
		font-size: .82rem;
        position: fixed;
	}
	.mobile-menu {
		li {
			&:last-child {
				margin-left: 0;
			}
		}
		ul {
			flex-wrap: wrap;
			display: flex;
			justify-content: space-between;
		}
	}
	#header-title {
		text-align: center;
		border-right: none;
		display: block;
		width: 100%;
		margin-bottom: 1rem;
		padding: 0;
		a {
			padding: 0;
		}
	}
	#cover-content {
		width: 80%;
	}
}
@media screen and (max-width : 460px) {
    footer .footer-menu .menu {
        //width: 100%;
        //font-size: 13px;
        flex-direction: column;
        li {
            margin: .5em 0;
        }
    }
	body {
		padding: 0;
		margin: 0;
		min-width: 314px;
	}
	html {
		padding: 0;
		margin: 0;
	}
	.header {
		position: fixed;
		height: 5rem;
        background-color:#1c1b1b !important;
	}
	.mobile-menu {
		position: fixed;
		ul {
			background-color: rgba(0,0,0,0.6);
			position: static;
			display: none;
			li {
				width: 100%;
			}
		}
		.lines {
			border-bottom: 15px double #f8f8f8;
			border-top: 5px solid #f8f8f8;
			content: "";
			height: 5px;
			width: 20px;
			float: right;
			padding-right: 15px;
		}
		li {
			margin-bottom: 1px;
			a {
				width: 100%;
			}
			&:not(#header-title) {
				&:after {
					display: none;
				}
			}
		}
		.show-menu {
			display: block;
		}
	}
	#header-title {
		display: none;
	}
	label.show-menu {
		letter-spacing: 0.15em;
		word-spacing: .5em;
	}
	.lines {
		margin-right: 1.5em;
	}
	.show-menu {
		span.first-letter {
			padding-left: 0;
		}
	}
	#cover-content {
		width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -20%);
	}
	.grid-wrapper {
		width: 100%;
	}
} // media 460px end

@media screen and (max-width : 316px) {

    .mobile-menu .show-menu {
        font-size: 90%;
    }

}
