html#html-practicas {
    #container {
        margin-top: 0rem;
    }
    h1{
        color: orange;
        text-transform: uppercase;
        text-align: center;
        font-size: 2em;
    }

    #practicas-cover {
        width: 100%;
        height: 55vh;
        background-position: 50% 33%;
        background-image: url('../../img/resized/top-view-person-writing-on-laptop-with-copy-space.jpg');
        background-size: cover;
        padding: 1em;
        display: flex;
        align-items: center;

        #descripcion-cover {
            width: 45%;
            margin-left: auto;
            margin-right: 5em;
            p{
                text-align: justify;
            }
        }
    }

    #page-body {
        width: 70%;
        display: flex;
        margin: 1em auto;
        #article-container {
            width: 80%;
            .article {
                width: 85%;
                text-align: justify;
                margin: 2em auto; 
                &:not(:first-of-type) {
                    margin: 2em auto; 
                }
            }
        }
        .mas-enlaces{
            width: 30%;
            text-align: justify;
        }
    }   
}
