html#html-practicas {
    h1{
        color: orange;
        text-transform: uppercase;
        text-align: center;
        font-size: 2em;
    }

    #practicas-cover {
        width:100%;
        
        img {
            width: 50%;
            display: block;
            height: 50%;
            margin:  0 auto;
            transform:translate(-13.5%);
        }
    }
    #page-body {
        width: 100%;
    }
    #article {
        width: 70%;
        margin: 2em auto;
    }
}