
RewriteEngine on

#<IfModule mod_rewrite.c>
  #RewriteEngine on
  #RewriteCond %{REQUEST_FILENAME} !-f
  #RewriteCond %{REQUEST_FILENAME} !-d
  #RewriteRule ^ index.php [L]
#</IfModule>

#Ciclo
RewriteRule ^/?ciclos/$ ciclos [NC,R=301]
RewriteRule ^/?ciclos/?$ ./ciclos.php 
