Options +SymLinksIfOwnerMatch 

#RewriteBase /elorieta-empresas
#RewriteEngine On

#RewriteCond %{REQUEST_URI} !^/public/
#RewriteRule ^(.*)$ /$1/public [L,R=301]



# If the page does not exist redirects to 404.hml
#RewriteCond %{REQUEST_FILENAME} !-f 
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule . public/404.html [L]
